body {
  background-color: aqua;
}

#links-nav ul li {
  display: inline-block;
}

#links-nav ul li a {
  color: beige;
  margin: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#links-nav {
  background-color: orange;
  padding: 10px;
  font-size: large;
  text-shadow: 5px;
  font-weight: 20px;
}

header h1 {
  text-align: center;
}

article h2 {
  margin-left: 20px;
}

.img-stomatopoda {
  display: inline-block;
}

.img-stomatopoda img {
  width: 30%;
  margin-left: 20px;
  display: inline-block;
}

.definition img {
  width: 25%;
  margin-left: 20px;
  display: inline-block;
}

article p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
}

.classification-table {
  display: inline-block;
}

footer {
  background-color: orange;
  text-align: center;
}

footer span {
  font-style: italic;
}
